.span {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
  display: inline-block;
  letter-spacing: 0.05em;
  color: #7ea0ff;
  margin-top: 10px;
}

h2 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 1.375rem;
  font-family: sans-serif;
  color: #00095e;
  text-align: center;
}

p {
  color: #00095e;
}

a {
  color: #7ea0ff;
}
.place-name {
  color: #00095e;
}

.price {
  color: #7ea0ff;
}
.price::before {
  content: "৳";
  font-weight: 600px;
  font-size: 1.4em;
  margin-right: 0.2em;
}

.trip-container {
  display: flex;
  overflow-x: scroll;
  height: 350px;
  width: 100%;
}

.trip-container::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.image-container {
  height: 200px;
  width: 350px;
  overflow: hidden;
  padding-bottom: 20px;
}

.details-button {
  margin-bottom: 20px;
  background-color: #ffa500;
}
.trip-card {
  margin-right: 20px;
}

.trip-card:last-child {
  margin-right: 0;
}

.arrow-button {
  background-color: #d2bcbc;
  border: 2px solid #e5e7eb;
  border-radius: 9999px;
  color: #1f2937;
  cursor: pointer;
  font-size: 20px;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s;
}
.arrow-button:hover {
  background-color: #f9fafb;
  border-color: #d1d5db;
  color: #4b5563;
}
